
.akvo-accordion.ui-widget {
    font-size: 100%;
}

.akvo-accordion .mw-headline {
    padding-left: 2em;
}

div#content .akvo-accordion-title {
    background: inherit;
    color: inherit;
    border: 1px solid #CCC;
}

.akvo-toggle {
    cursor: pointer;
}